@model SisMedico.Domain.Entities.IPagedList

<div style="text-align:center;">
    <p>
        <h6>Até <b>@Model.PageSize</b> registros da página <b>@Model.PageIndex</b> de <b>@Model.TotalPages</b> páginas - [ Nº: Registros: <b>@Model.TotalResults</b> ].</h6>
    </p>
</div>